[build]
builder = "nixpacks"

[build.nixpacks]
installCmd = "npm ci"
buildCmd = "npm run build"

[deploy]
startCommand = "npm start"
healthcheckPath = "/"
healthcheckTimeout = 100
restartPolicyType = "on_failure"
restartPolicyMaxRetries = 5
