[build]
builder = "nixpacks"
watchPatterns = ["client/**"]

[deploy]
  startCommand = "node .next/standalone/server.js"
healthcheckPath = "/"
healthcheckTimeout = 100
restartPolicyType = "on_failure"
restartPolicyMaxRetries = 5
