[build]
builder = "nixpacks"
watchPatterns = ["client/**"]

[build.nixpacks]
nixPkgs = ["nodejs_20"]

[deploy]
startCommand = "npm start"
healthcheckPath = "/"
healthcheckTimeout = 100
restartPolicyType = "on_failure"
restartPolicyMaxRetries = 5
